

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
    --primary-color: #4C3BCF;
    --secondary-color:#2F58CD;
    --brc:rgba(0,0,0,0.2);
    --ltr:0.4px;
    --br: 3px;
    --p-color:#ecebeba6;
    --white:#fcfcfc;
    --black:#000;
    --bg-color:#040404;
}

html , body{
    height: 100%;
    width: 100%;
    font-family: "Onest", sans-serif;
}

body{
    overflow-x: hidden;
    background: var(--bg-color);
    font-weight: 500;
}

h1{
    font-size: clamp(2.2rem,7vw,3rem);
}

h2{
    font-size: 2rem;
}

ul{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

p{
    font-size: 17px;
    color: var(--p-color);
}

input,button{
    outline: none;
    border: 0;
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/* Navbar */

main{
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 50px;
    background: var(--bg-color);
    z-index: 3;
}

/* .menu{
    display: none;
} */

.navlinks{
    display: none;
}

.menu i{
    font-size: 25px;
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    background: var(--primary-color);
}

.logo a{
    font-size: 19px;
    color: var(--white);
    font-weight: 500;
}

.logo a i{
    font-size: 22px;
    color: var(--primary-color);
    display: inline-block;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.navlinks ul{
    gap: 30px;
    margin-top: 5px;
}

.hover{
    color: var(--white);
    font-size: 17px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.hover:hover{
    color: var(--primary-color);
}

.nav-btn{
    margin-top: 5px;
}

.nav-btn a{
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--white);
    border-radius: var(--br);
}

.navlinks i{
    color: var(--white);
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 25px;
    padding: 7px;
    border-radius: 50px;
    background: var(--primary-color);
    display: none;
}

#home{
    width: 100%;
    height: 80%;
    margin-top: 120px;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.home-left{
    width: 50%;
}

.home-left h1{
    margin-bottom: 20px;
}

.home-left p{
    margin-bottom: 20px;
}

.home-left h4{
    margin-bottom: 15px;
    color: var(--white);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--primary-color);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 14px;
}

.home-left h1{
    color: var(--white);
}

.home-left h1 span{
    color: var(--primary-color);
    background: -o-linear-gradient(45deg,var(--primary-color),var(--white));
    background: linear-gradient(45deg,var(--primary-color),var(--white));
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
}

#home-btn{
    margin-bottom: 20px;
}

.home-right{
    width: 40%;
}

.home-right img{
    width: 100%;
    height: 100%;
}

#home-btn{
    padding: 12px 50px;
    font-size: 17px;
    color: var(--white);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-family: "Onest",sans-serif;
    border-radius: var(--br);
    cursor: pointer;
}


.navlinks{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 0%;
    height: 100vh;
    background: var(--bg-color);
    text-align: center;
    z-index: 1;
    padding-top: 150px;
}

.navlinks ul{
    display: block;
}

.navlinks i{
    display: block;
}

li{
    margin-bottom: 40px;
}

.hover{
    font-size: 26px;
}

/* Courses  Section*/

#courses{
    width: 100%;
    height: 80%;
    flex-direction: column;
    margin-top: 80px;
    padding: 0 50px;
    gap: 50px;
}

.coureses-heading h1{
    color: var(--white);
    margin-bottom: 20px;
}

.coureses-heading p{
    max-width: 50%;
}

.courses-items{
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

.courses-items .items h2{
    color: var(--white);
}

.courses-items .items h2,p,i{
    margin-bottom: 20px;
}

.courses-items .items i{
    font-size: 40px;
    color: var(--primary-color);
}

.courses-items .items{
    border: 1px solid rgba(255,255,255,0.2);
    background: var(--bg-color);
    flex: 1 1 300px;
    height: 300px;
    padding: 50px 5px;
    border-radius: 15px;
}

/* Loader Section */

#loader-container{
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--bg-color);
    height: 100vh;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: opacity .50s , visibility .50s;
}

#loader-container.toggle-loader{
    opacity: 0;
    visibility: hidden;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--primary-color);
    animation: loader 0.8s ease-in infinite alternate; 
}

.main-loader{
    gap: 6px;
}

.dot:nth-child(1){
    animation-delay: 0.2s;
}
.dot:nth-child(2){
    animation-delay: 0.4s;
}

.dot:nth-child(3){
    animation-delay: 0.8s;
}

@keyframes loader {
    0%{
        scale: .75;
    }
    100%{
        scale: 1.3;
    }
}



@media only screen and (max-width:1083px){
    #home{
        padding: 0 12px;
    }

    #courses{
        padding: 0 12px;
    }

    .navbar{
        padding: 10px 12px;
    }
}

@media only screen and (max-width:992px){
    #home{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: -1;
        height: auto;
        gap: 60px;
    }

    #courses{
        height: auto;
    }

    .logo a i{
        display: inline;
    }


    .coureses-heading p{
        max-width: 100%;
    }


    /* .menu{
        display: block;
    } */

    .home-left{
        width: 100%;
        text-align: center;
    }

    .home-right img{
        width: 500px;
    }

    .home-right{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width:600px){
    .home-right img{
        width: 80%;
        height: 100%;
    }
}

@media only screen and (max-width:480px){
    .home-right img{
        width: 100%;
    }
}